
    <!-- Portfolio Grid Section -->
    <section id="corona-info" class="bg-light-gray">
        <div class="container">
		
			 <div class="row">
			 <h3 class="section-subheading text-muted"></h3>

			<div class="coronaIn bg bordered-container">
				<div class="card-image right">
					<img alt="" class="vvImg" src="img/vv1.png"> 
				</div>

				<div class="card-copy padd-top-0 top-20">
					<h2>How We Keep You Safe from COVID-19</h2>
				
                        <p>We put in place a number of robust measures designed to make your health & safety a top priority whilst still enabling our employees to fulfill orders.</p>
						<p>We offer minimum exposure takeaway at checkout.</p>
						<p>We offer cashless payments by card or Online Pay from Website.</p>
						<p>We offer our own Contact-less delivery and much cheaper than wolt & bolt.</p>
						<p>Our staff received proper on-the-job training on the matters of personal hygiene and COVID-19 prevention.</p>
						<p>We take temperature readings of all staff members daily. So far, no staff member has been exposed to any person tested positive for Coronavirus.</p>
						<p>Our staff washes and disinfects their hands every half hour.</p>
						<p>All surfaces and cooking stations are cleaned and sanitized thoroughly, including door handles and light switches.</p>
					
             
				</div>
			</div>

			</div>
		</div>
    </section>