<!-- About Section -->
    <section id="dailyMeal">
        <div class="container">
        <div class="articlep-list inner">

<!-- articlep -->
            <article class="articlep">
        <div class="tag-links">
            <a href="">Website under development ...</a>
            <a href="">Tips</a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">by <a href="">Chef..</a></span>
                <time class="published" datetime="2019-01-14">Monday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content">
        <p>  Butter Chicken with Basmati Rice & Salad  </p>
        <p>  Dal Tadka/Chana Masala with Basmati Rice & Salad (mention if order is vegan)  </p>
    </div><!-- .articlep-content -->

    
</article><!-- .articlep -->

        
</div>
</section>
