<!-- About Section -->
    <section id="dailyMeal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Daily Meals</h2>
                    <h3 class="section-subheading text-muted">Our happy hour runs from 11:00 AM - 14:00 on weekdays. Live every hour like it's happy hour.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/butterchickenDailyMeal.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Monday (7.5 € for Soup + One Meal)</h4>
                                </div>
                                <div class="timeline-body">
                        <h3 class="section-subheading text-muted">Soup (3.0 euros)</h3></p><br />
                                    <p class="text-muted">Hot & Sour with Indian bread (Naan)</p><br />

                        <h3 class="section-subheading text-muted">Non-vegetarian Meal(5.5 euros)</h3></p><br />            
                                     <p class="text-muted">Butter Chicken with Basmati Rice and Salad</p><br />

                         <h3 class="section-subheading text-muted">Vegan/Vegetarian Meal (5.5 euros)</h3></p><br />            
                                    <p class="text-muted">Chana Masala with Basmati Rice and Salad</p><br />

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/porkDialyMeal.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Tuesday (7.5 € for Soup + One Meal)</h4>
                                </div>
                                <div class="timeline-body">
                        <h3 class="section-subheading text-muted">Soup (3.0 euros)</h3></p><br />
                                    <p class="text-muted">Tomato cream with Indian bread (Naan)</p><br />

                        <h3 class="section-subheading text-muted">Non-vegetarian Meal(5.5 euros)</h3></p><br />            
                                     <p class="text-muted">Peking Pork with Basmati Rice or Noodles and Salad</p><br />

                         <h3 class="section-subheading text-muted">Vegan/Vegetarian Meal (5.5 euros)</h3></p><br />            
                                    <p class="text-muted">Rajma Masala with Basmati Rice and Salad</p><br />

                                </div>
                            </div>
                        </li>
                     <!--   <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3rd March 2019</h4>
                                    <h4 class="subheading">BBQ Special</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hey Hey Hey Yipeee !!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5th March 2019</h4>
                                    <h4 class="subheading">New Event</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hey Hey Hey Yipeee !!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Stay Tune
                                    <br>for more !!
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
