<!-- About Section -->
    <section id="dailyMeal">
        <div class="container">
        <div class="articlep-list inner">

<!-- articlep -->
            <article class="articlep">
        <div class="tag-links">
            <a href="">Vegan</a>
            <a href="">Vegetarian</a> 
            <a href="">HealthyFood</a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Non-Veg: <a href="">Butter Chicken with Basmati Rice & Salad</a></span>

                <img class="author-avatar" src="/img/team/6.gif" alt="chef avatar">
                <span class="articlep-author">Vegan/Veg: <a href="">Dal Tadka/Chana Masala with Basmati Rice & Salad (mention if order is vegan)</a></span>  
                         
                <time class="published" datetime="">Monday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->    
</article><!-- .articlep -->

        
</div>
</section>
