    <section id="gifts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form
  action="https://liveformhq.com/form/857cda6b-6be0-4b3b-b998-1747311aa330"
  method="POST" accept-charset="utf-8" role=form>

  <input type="hidden" name="_utf8" value="✓">

  <input type="hidden" name="_redirect" value="https://liveformhq.com/form-test/857cda6b-6be0-4b3b-b998-1747311aa330#thank-you">

  <div class='form-group'>
    <label for="name">Name</label>
    <input class='form-control' type="text" id="name" name="name">
  </div>

  <div class='form-group'>
    <label for="email">Email</label>
    <input class='form-control' type="text" id="email" name="email">
  </div>

  <div class='form-group'>
    <label for="message">Message</label>
    <textarea class='form-control' id="message" name="message"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
				</div>	
			</div>	
				
        </div>
    </section>