
            <div id="EEMsg" style="display: none;">

                <div class="intro-heading">Kohvik ja Resto</div> 
                
               <div class="intro-lead-in">
                   Sööma Jooma ja Minge S(#)cial <br><br>
                   Võtke Ühendust Otse <br>+372 56854024
               </div>
                              
               <a href="#contact" class="page-scroll btn btn-x11">Reservatsioon</a>
               
               <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
                   <span class="orderFood-button33" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" >Telli Nüüd</span> 
                   <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>

               <a href="#paymentOnline" class="page-scroll btn btn-x22">Veebimakse</a>
               
               <div class="slide-sep"></div>
                               <!-- <h2 class="open-hours">Oleme Avatud || We are open: 11:30 - 22:00</h2>
               <h2 class="open-hours">We plan to open again on 2nd April Onwards after 15 days of lockdown </h2> --> 
               <div style="font-size: 20px;font-family: "Great Vibes", serif;">
                Koht, Mida Usaldate ja Saate Ainult Kvaliteetset Toitu !!
               </div>
               <div class="slide-sep" style="margin-top: 10px; !important"></div>
           </div>