 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery-1.11.0.js" | absolute_url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | absolute_url}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | absolute_url }}"></script>
    <script src="{{ "/js/classie.js" |absolute_url }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | absolute_url }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | absolute_url }}"></script>
    <script src="{{ "/js/contact_me.js" | absolute_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | absolute_url }}"></script>

    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $("#contact-form").on("submit", function(e) {
            e.preventDefault(); // to stop the form from being submitted

            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                headers:
                {
                    "Accept": "application/json"
                },
                success: function(response)
                {
                    $("#contact-form")[0].reset();
                    $("#messages").text("Thank you for your submission, we'll get back to you soon :)");
                    console.log(response); // response contains the form submission that was just made
                },
            });
        });
    </script>
