 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/social/js/jquery-1.11.0.js" | absolute_url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/social/js/bootstrap.min.js" | absolute_url}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/social/js/jquery.easing.min.js" | absolute_url }}"></script>
    <script src="{{ "/social/js/classie.js" |absolute_url }}"></script>
    <script src="{{ "/social/js/cbpAnimatedHeader.js" | absolute_url }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/social/js/jqBootstrapValidation.js" | absolute_url }}"></script>
    <script src="{{ "/social/js/contact_me.js" | absolute_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/social/js/agency.js" | absolute_url }}"></script>
