    <!-- Portfolio Grid Section -->
    <section id="membership" class="bg-light-gray">
        <div class="container">
		
			 <div class="row text-center">
			 <h3 class="section-subheading text-muted">Become Our Member & Get Exciting Offers !!</h3> <br>
				  <h3 class="section-subheading text-muted">* Under Development, Coming Soon</h3>
            </div>
			
            <div class="row text-center">
                <div class="col-md-4">
                    <p class="large text-muted">Become Member</p> 
			</div>
                <div class="col-md-4">
                    <p class="large text-muted">Admin Login</p>					
                </div>
                <div class="col-md-4">
                    <p class="large text-muted"><STRONG>Search Yourself</p>                   
                </div>
				<!--  Overlay Test  -->
<a href="#overlay" id="open-overlay">Open Overlay</a>
<div id="overlay">
    <a href="#" class="close">&times;</a>
    <div style="height:20%"></div>
    
    <h2 style="font-size:35px">Pure CSS Overlay</h2>
    <br />
    <br />
    <br />
    <p style="font-size:22px;">This overlay is made using zero javascript. With the CSS :target pseudo class. You can target an element then change it's properties. Here we hide this div then show it upon targeting. (see the URL). To exit we'll just change the URL back!</p>
    
</div>

<div id="mask" onclick="document.location='#';"></div> <!-- the only javascript -->
				
				
				<!--  Overlay Test  -->
				
            </div>
    </section>
