    <!-- Portfolio Grid Section -->
    <section id="membership" class="bg-light-gray">
        <div class="container">
		
			 <div class="row text-center">
			 <h3 class="section-subheading text-muted">Become Our Member & Get Exciting Offers !!</h3> <br>
				  <h3 class="section-subheading text-muted">* Under Development, Coming Soon</h3>
            </div>
			
            <div class="row text-center">
             <div class="col-md-4">
                    <p class="large text-muted">Become Member</p> 
			</div>            
			<div class="col-md-4">
                    <p class="large text-muted">Admin Login</p>					
            </div>			
             <div class="col-md-4">
                    <p class="large text-muted"><STRONG>Search Yourself</p>                   
             </div>
            </div>
			


<button onclick="myFunction1()">Try it 1</button>
<button onclick="myFunction2()">Try it 2</button>
<button onclick="myFunction3()">Try it 3</button>

<div id="myDIV1" style="display: none;">
This is my DIV 1 element.
</div>

<div id="myDIV2" style="display: none;">
This is my DIV 2 element.
</div>

<div id="myDIV3" style="display: none;">
This is my DIV 2 element.
</div>

<script>
function myFunction1() {
  var x = document.getElementById("myDIV1");
  var y = document.getElementById("myDIV2");
  var z = document.getElementById("myDIV3");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("myDIV2");
  var y = document.getElementById("myDIV1");
  var z = document.getElementById("myDIV3");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction3() {
  var x = document.getElementById("myDIV3");
  var y = document.getElementById("myDIV1");
  var z = document.getElementById("myDIV2");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}
</script>		
    </section>
