<div class="row text-center">

    <div class="text-center">					                    
        <h3 class="section-subheading text-muted" id="EEOrderOnline" style="display: none;">
            <STRONG> Pakume Tasuta ja Kiiret Kohaletoimetamist </STRONG>
        </h3>
        <ul class="iconLink list-inline quicklinks" >
            <li>
                <h3 class="section-subheading text-muted">
                
                <img src="img/orderOnline.png" class="ziti-delivery" alt="onlineOrder" style="width: 30px;">
               
                    <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
                        <span class="orderFood-Options" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" ><br><a>Telli <STRONG>Veebis</STRONG></a></span> 
                        <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>
                            
                        </h3>
            
            </li><br>
            <li>
                <h3 class="section-subheading text-muted">
                <img src="img/whatsappLogo.png" class="ziti-delivery" alt="whatsappLogo" style="width: 30px;">
                Telli  <strong>WhatsApp</strong> </h3>
            </li>
        </ul>
          
</div> 

    <div class="col-md-4">
        <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                 <i aria-hidden="true"> <img src="img/delivery-boy.gif" class="direct-delivery" alt="Robot"></i>
                             
        </span>
        <p class="large text-muted">Otse Tellida Meie Käest</p>					
        <p class="text-muted"><h3 class="section-subheading text-muted"><STRONG>Tasuta Kohaletoimetamine & 10% Allahindlust</STRONG> *</h3></p> 
     
    </div>

    <div class="col-md-4">
    <span class="fa-stack fa-4x">
        <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
                <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
             <i aria-hidden="true"> <img src="img/robot.gif" class="robot-delivery" alt="Robot"></i>
                         
    </span>
        <p class="large text-muted">Robot Delivery</p>					
        <p class="text-muted">        
            <h3 class="section-subheading text-muted"><STRONG>Odavaim Kohaletoimetamine</STRONG> Mustamäel</h3>
          </p> 
    </div>
                    
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <a href="https://wolt.com/en/est/tallinn/restaurant/social-cafe-and-resto">
            <i class="fas fa-biking fa-stack-1x fa-inverse-wolt"></i>
            </a>
        </span>

        <p class="large text-muted">Tellimus Bolt ja Wolt</p> 
         <p class="text-muted">        
            <h3 class="section-subheading text-muted">Pakume Tasuta ja Kiiret Kohaletoimetamist</h3>
          </p>
    </div>
    

</div>