    <!-- Portfolio Grid Section -->
    <section id="orderFood" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wolt.com/en/est/tallinn/restaurant/social-cafe-and-resto">
                        <i class="fas fa-biking fa-stack-1x fa-inverse-vegan"></i>
                        </a>
                    </span>
                  <!--  <h4 class="service-heading">
                         <a href="#VeganMenu">Vegan</a>
                    </h4> -->
                    <p class="text-muted">        
                        <h3 class="section-subheading text-muted">Order food by wolt delivery</h3></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a href="#fullMenu">
                        <i class="fas fa-phone-volume fa-stack-1x fa-inverse-fullMenu"></i>
                         </a>
                    </span>
                    <!--   <h4 class="service-heading">
                   <a href="#fullMenu">Full Menu</a></h4>. -->
                    <p class="text-muted">
                    <h3 class="section-subheading text-muted">Call us for take-out</h3> 
                    </p><br/>
                <p class="text-muted">
                    <h3 class="section-subheading text-muted">Save delivery fee by preorder and pick up by yourself</h3> <br/>
                    <h3 class="section-subheading text-muted">+372-56828921</h3>
                </p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a href="#drinks">
                        <i class="fas fa-people-carry fa-stack-1x fa-inverse-glass"></i>
                         </a>
                    </span>
                   <!--    <h4 class="service-heading"> 
                    <a href="#drinks">Drinks</a></h4>. -->
                    <p class="text-muted">
                        <h3 class="section-subheading text-muted">Order from TalTech campus *</h3>
                    </p>
                    <br/>
                <p class="text-muted">
                    <h3 class="section-subheading text-muted">Pay 1 € for delivery and get food at your doorstep</h3> <br/>
                    <h3 class="section-subheading text-muted">+372-56828921</h3>
                    <h3 class="section-subheading text-muted">Coming soon !!</h3>
                </p>
                </div>
            </div>



        </div>
    </section>
