    <!-- Portfolio Grid Section -->
    <section id="orderFood" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wolt.com/en/est/tallinn/restaurant/social-cafe-and-resto">
                        <i class="fas fa-biking fa-stack-1x fa-inverse-wolt"></i>
                        </a>
                    </span>
                  <!--  <h4 class="service-heading">
                         <a href="#VeganMenu">Vegan</a>
                    </h4> -->
                    <p class="large text-muted">Order by wolt</p> <br />
					<h3 class="section-subheading text-muted">Check our menu on wolt</h3> 
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a href="">
                        <i class="fas fa-phone-volume fa-stack-1x fa-inverse-takeOut"></i>
                         </a>
                    </span>
                    <!--   <h4 class="service-heading">
                   <a href="#fullMenu">Full Menu</a></h4>. -->
                    <p class="large text-muted">Call us for take-out</p><br />
                    <h3 class="section-subheading text-muted">Save delivery fee by preorder +372-56828921</h3> 
                    

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a href="">
                        <i class="fas fa-people-carry fa-stack-1x fa-inverse-taltech"></i>
                         </a>
                    </span>
                   <!--    <h4 class="service-heading"> 
                    <a href="#drinks">Drinks</a></h4>. -->
					<p class="large text-muted">Order from TalTech campus</p><br />
                    <h3 class="section-subheading text-muted">Pay 1 € for delivery</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>
				  <h3 class="section-subheading text-muted">You can also order food </h3>
				  </p>
                </div>
            </div>


        </div>
    </section>
