    <!-- Portfolio Grid Section -->
    <section id="paymentOnline">
        <div class="container">
		
			 <div class="row text-center">
			 <h3 class="section-subheading text-muted"></h3>
				      <ul class="list-inline quicklinks">
                        <li><h3 class="section-subheading text-muted"><STRONG>Order food directly from us and Pay Online</STRONG></h3> </li><br>
                        <li><h3 class="section-subheading text-muted"><a href="#dailyMeal">Account Details</a></h3></li> <br>
						<li><h3 class="section-subheading text-muted">HAR HAR MAHADEV OÜ | EE841010220276904221 </h3></li><br>
						<li><h3 class="section-subheading text-muted">Choose Your Bank Account</h3></li>
				     </ul>	
            </div>
			
        <div class="row text-center">
		<div class="col-md-4"></div>
		<div class="col-md-4">
                    <ul class="list-inline">
                        <li> 
						<a href="https://www.seb.ee/cgi-bin/ipank/ipank.p?lang=EST&amp;act=EMK&amp;selgitus=Food%20Purchase&amp;saajakonto=EE841010220276904221&amp;saajanimi=HAR%20HAR%20MAHADEV%20OU&amp;frnam=0">
						<img src="img/seb.png" class="SEB Bank" alt="SEB Bank" style="width: 150px;">	
					   </a>	
                          
                        </li>
                        
                        <li> 
						<a href="https://www.swedbank.ee/private/d2d/payments2/smartPayment">
					<img src="img/swedbank.png" class="SwedBank" alt="SEB Bank" style="width: 150px;">       
				        </a>	
                          
                        </li>
                        
                    </ul>
                </div>	
			
        </div>
		
		

			
    </section>
