<section id="services">
<div class="container">

<div class="row">
            <div class="col-lg-12 text-center">  
    <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
<!-- <div class="row-img-SBS">
  <div class="column-img-SBS-left">
    <img class="elephant menu-center-img" src="img/elephants-left.gif" >
  </div>
  <div class="column-img-SBS-right">
    <img class="elephant menu-center-img" src="img/elephants-right.gif" >
  </div>
</div> -->
                    <h2 class="main-section-title font-smoothing">Starters</h2>
                   <img class="menu-center-img" src="img/starters.jpg" alt="Menu Logo">
                </div>
            </div>       

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Samosa</h2>
                    <h3 class="section-subheading text-muted">Patties stuffed with fresh potatoes, cottage cheese, green peas and freshly ground Indian spices, served with sauce.</h3>
                    <h3 class="section-subheading text-muted">4.00€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Vegetarian Shammi Kebab</h2>
                    <h3 class="section-subheading text-muted">Vegetarian shammi kabab is  crisp cutlet made from chef special spices a brown chickpeas.</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Paneer Pakora</h2>
                    <h3 class="section-subheading text-muted">Indian cottage cheese covered in a specially seasoned gram flour batter fried and served with sauce.</h3>
                    <h3 class="section-subheading text-muted">5.90€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Crispy Fried Vegetables</h2>
                    <h3 class="section-subheading text-muted">Crispy coated vegetables strips with oriental flavor, famous Indo-chineese starter.</h3>
                    <h3 class="section-subheading text-muted">4.90€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Shammi Kebab</h2>
                    <h3 class="section-subheading text-muted">Shammi kebab is an Awadhi dish which is made from flavorful spiced minced meat and are crisp and mouthwatering.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Spring Rolls</h2>
                    <h3 class="section-subheading text-muted">Vegetable Spring Rolls, Chicken Spring roll and Shrimp Spring roll.</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div>  

---------
<!-- Salad -->
<div class="row">
                <div class="slide-sep"></div>
                <div class="col-lg-12 text-center">
                        <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Salads</h2>
                    <img class="menu-center-img" src="img/salads.png" alt="Menu Logo">
                </div>
            </div>       

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Tikka Salad</h2>
                    <h3 class="section-subheading text-muted">Tandoori chicken mixed with olive oil, cabbage, tomato, cucumber, redish and red onion.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div>             

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Pork Tikka Salad</h2>
                    <h3 class="section-subheading text-muted">Tandoori pork mixed with olive oil, cabbage, tomato, cucumber, redish and red onion.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">The Social Vegetarian Salad</h2>
                    <h3 class="section-subheading text-muted">Tandoori pork mixed with olive oil, cabbage, tomato, cucumber, redish and red onion.</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div> 

<!-- tandoor -->
<div class="row">
                <div class="col-lg-12 text-center">
    <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Tandoor/Grill</h2>
                    <img class="menu-center-img" src="img/lambChop.png" alt="Menu Logo">
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Vegan/Veg.</h2>   
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Bombay tandoori stuffed potatoes</h2>
                    <h3 class="section-subheading text-muted">Potatoes stuffed with cottage cheese, capsicum, mushrooms and vegetables, marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PANEER TIKKA</h2>
                    <h3 class="section-subheading text-muted">Indian cottage cheese marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MUSHROOM BABY CORNS TIKKA</h2>
                    <h3 class="section-subheading text-muted">Mushrooms and Baby corns marinated in a spiced mixture and roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Chicken</h2>   
                </div>
            </div> 
<div class="row text-center">
        <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Tandoori Chicken Wings</h2>
                    <h3 class="section-subheading text-muted">Well-marinated chicken wings baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">5.90€</h3>
        </div>
</div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHICKEN TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken marinated in a chef special spiced mixture, roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div>
<div class="row text-center">
        <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHICKEN MALAI TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken roasted in a creamy marination grilled in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
        </div>
</div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled chicken in tandoori clay oven served with additive and fresh salad.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Tandoori Chicken Fillet</h2>
                    <h3 class="section-subheading text-muted">Chicken fillet with pineapple marinated in chef special spiced mixture, baked in a tandoori clay oven served salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>  

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Pork</h2>   
                </div>
            </div> 

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PORK ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled pork in tandoori clay oven served with additive and fresh salad.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Pork TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered pork marinated in a chef special spiced mixture, roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>            

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Lamb</h2>   
                </div>
            </div> 

<div class="slide-sep"></div>   
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Lamb ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled lamb in tandoori clay oven served with additive and fresh salad. </h3>
                    <h3 class="section-subheading text-muted">10.00€</h3>
                </div>
            </div>


<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Fish</h2>   
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">SALMON TIKKA</h2>
                    <h3 class="section-subheading text-muted">Salmon fillet lightly marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">11.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">The S(@)cial Special</h2>   
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">The Social Platter</h2>
                    <h3 class="section-subheading text-muted">The Social special tandoor platter includes chicken tikka, pork tikka, chicken malai tikka, lamb chop and paneer tikka served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">12.50€</h3>
                </div>
            </div>     

    <div class="slide-sep"></div> 
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">* Additives are chef special clay oven baked potatoes, fried potatoes and french fries.</h3>
                <h3 class="section-subheading text-muted">* Sauces type: Mint-Coriander, Garlic, Chef special.</h3>
                <h3 class="section-subheading text-muted">* Please mention your spice level (low, medium, high) and any other requirements while making the order. </h3>
            </div>
        </div>


<!-- Main Course -->
<div class="row">
                <div class="slide-sep"></div>
                <div class="col-lg-12 text-center">
                        <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Main Dishes</h2>   
                    <h3 class="section-subheading text-muted">Basmati rice are complementary with all main dishes</h3>
                    <img class="menu-center-img" src="img/mc1.png" alt="Menu Logo">
                </div>
            </div>       

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Vegetarian</h2>   
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Palak Paneer</h2>
                    <h3 class="section-subheading text-muted">Creamy, nutty and fragrant spinach gravy served with tender paneer cubes</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Shahi Paneer</h2>
                    <h3 class="section-subheading text-muted">Indian cottage cheese in a popular aromatic walnut cream and tomato sauce special dish from Mughlai cuisine</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Kadhai Paneer</h2>
                    <h3 class="section-subheading text-muted">Cottage cheese cooked with tomatoes, onions, bell peppers and a blend of Indian spices</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>             

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">RAJMAH MASALA</h2>
                    <h3 class="section-subheading text-muted">Popular vegetarian dish, consisting of red kidney beans in a thick gravy with Indian spices</h3>
                    <h3 class="section-subheading text-muted">7.50€</h3>
                </div>
            </div>  

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHANA MASALA</h2>
                    <h3 class="section-subheading text-muted">Wildly popular dish from the Indian subcontinent made of chickpeas simmered in a feisty, spice-forward tomato sauce
                </h3>
                    <h3 class="section-subheading text-muted">7.50€</h3>
                </div>
            </div>  


<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MIX VEGETABLES KORMA</h2>
                    <h3 class="section-subheading text-muted">A seasonal mix of fresh vegetables. Exotic korma dish cooked with saffron & almonds in rich cashew sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div>  

<!-- Fish Main Dishes -->
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Fish</h2>                       
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Fish in Oyester Sauce</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Fish Tikka Masala</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">12.50€</h3>
                </div>
            </div>             

<!-- Chicken Main Dishes -->
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Chicken</h2>                       
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Tikka Masala</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Butter Chicken</h2>
                    <h3 class="section-subheading text-muted">...</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Palak Chicken</h2>
                    <h3 class="section-subheading text-muted">Creamy, nutty and fragrant spinach gravy served with tender chicken</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MANGO CHICKEN</h2>
                    <h3 class="section-subheading text-muted">An amazingly aromatic sauce made with puréed mango with tender chicken</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">SWEET AND SOUR CHICKEN</h2>
                    <h3 class="section-subheading text-muted">...</h3>
                    <h3 class="section-subheading text-muted">9.50€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">KADHAI CHICKEN</h2>
                    <h3 class="section-subheading text-muted">...</h3>
                    <h3 class="section-subheading text-muted">9.50€</h3>
                </div>
            </div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PECKING CHICKEN</h2>
                    <h3 class="section-subheading text-muted">...</h3>
                    <h3 class="section-subheading text-muted">9.50€</h3>
                </div>
            </div>    

<!-- Pork Main Dishes -->
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Pork</h2>                       
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MANGO PORK</h2>
                    <h3 class="section-subheading text-muted">An amazingly aromatic sauce made with puréed mango with tender pork</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">SWEET AND SOUR PORK</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">7.90€</h3>
                </div>
            </div> 

            <div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PECKING PORK</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">7.90€</h3>
                </div>
            </div> 

            <div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PORK with Mushrooms</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">7.90€</h3>
                </div>
            </div> 

            <div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Thai PORK</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">7.90€</h3>
                </div>
            </div>   

<!-- Lamb Main Dishes -->
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Lamb</h2>                       
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CRISPY CHILLI LAMB</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div>  

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Spinach LAMB</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">10.90€</h3>
                </div>
            </div> 


<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">BHUNA GHOST</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div>     

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Kadhai Lamb</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div>  

<!-- Duck Main Dishes -->
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Duck</h2>                       
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">The SOCIAL DUCK</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div>         

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PECKING DUCK</h2>
                    <h3 class="section-subheading text-muted">....</h3>
                    <h3 class="section-subheading text-muted">9.90€</h3>
                </div>
            </div>    


<!-- Naan -->
<div class="row">
                <div class="col-lg-12 text-center">
    <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Naan/Bread</h2>
                    <img class="menu-center-img" src="img/naan.png" alt="Menu Logo">
                </div>
            </div>

<!-- <div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                  <h2 class="main-dishes-title font-smoothing">Vegan/Veg.</h2>   
                </div>
            </div> -->

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Butter Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">2.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Garlic Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">2.80€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Cheese Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">3.20€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Garlic Cheese Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">3.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Aloo Prantha Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">3.50€</h3>
                </div>
            </div>            

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Paneer Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">3.80€</h3>
                </div>
            </div> 

<!-- Wraps -->
<div class="row">
                <div class="col-lg-12 text-center">
    <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Wraps & Rolls</h2>
                    <img class="menu-center-img" src="img/wrapRoll.jpg" alt="Menu Logo">
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Falafel Wrap</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Tikka Wrap</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Fish Tikka Naan</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 
            

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Mutton Kathi Roll</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Paneer Tikka Kathi Roll</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 


<!-- Rice -->
<div class="row">
                <div class="col-lg-12 text-center">
    <img class="orange-leaves-center" src="img/curry-leaves-orange.png" alt="partition-menu" style="width: 100px;">
                    <h2 class="main-section-title font-smoothing">Rice & Biryani</h2>
                    <img class="menu-center-img" src="img/rice.png" alt="Menu Logo">
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Plain Basmati Rice</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">2.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Vegetables Pulav Basmati Rice</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <h3 class="section-subheading text-muted">3.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Biryani</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <h3 class="section-subheading text-muted">7.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Lamb Biryani</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <h3 class="section-subheading text-muted">7.50€</h3>
                </div>
            </div> 

    <h3 class="section-subheading text-muted">Full menu yet to come.... webpage under development</h3>


    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5cdd2b375f3c2" data-node="5cdd2b375f3c2">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">
            <div class="fl-col-group fl-node-5cdd2b375f676" data-node="5cdd2b375f676">
                <div class="fl-col fl-node-5cdd2b375f6fd" data-node="5cdd2b375f6fd">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-pp-restaurant-menu fl-node-5cdd2b375f772" data-node="5cdd2b375f772">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-node-5cdd2b375f772 pp-restaurant-menu-item-wrap">
                                    <h3 class="pp-restaurant-menu-heading">Khaan-e-Khas/ Mains - Seafood</h3>
                                    <div class="pp-restaurant-menu-item-wrap-in">
                                        <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                                            <div class="pp-restaurant-menu-item-left">
                                                <h2 class="pp-restaurant-menu-item-header">
                                                    <span class="pp-restaurant-menu-item-title">Prawn Tamarindi Chemmeen</span></h2>
                                                    <div class="pp-restaurant-menu-item-description">
                                speciality from the fishing village near Cochin, prawns marinated in tamarind 'n' kokum jus simmered in delicate coconut spiced gravy with shallots, curry leaves, mustard and coriander.</div>
                                            </div>
                                            <div class="pp-restaurant-menu-item-right">
                                                <div class="pp-restaurant-menu-item-price"><span>$ </span> 19.90</div>
                                            </div>
                                        </div>
                                        <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                                        <div class="pp-restaurant-menu-item-left">
                                        <h2 class="pp-restaurant-menu-item-header">
                                        <span class="pp-restaurant-menu-item-title">Five Spice Garlic Prawns</span></h2>
            <div class="pp-restaurant-menu-item-description">king prawns marinated in lemon jus, ginger and garlic and cooked in red chilli cream sauce, garnished with sesame seeds.</div></div>

            <div class="pp-restaurant-menu-item-right">
                <div class="pp-restaurant-menu-item-price"><span>$ </span> 19.90</div>
            </div>
                </div>
                <div class="pp-restaurant-menu-item pp-restaurant-menu-item-2 pp-menu-item pp-menu-item-2">
                <div class="pp-restaurant-menu-item-left">
                <h2 class="pp-restaurant-menu-item-header">
                <span class="pp-restaurant-menu-item-title">Fisherman’s Meen Chaaru</span></h2>
                <div class="pp-restaurant-menu-item-description">
                                Ling Fillet, tawa stir fried with capsicum &amp; onions in green lime juice.</div>
                </div>
                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>$ </span> 19.90</div>
                </div>
                </div>
                 <div class="pp-restaurant-menu-item pp-restaurant-menu-item-3 pp-menu-item pp-menu-item-3">
                 <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                         <span class="pp-restaurant-menu-item-title">Fish Mumtaz Mahal</span>
                        </h2>
                <div class="pp-restaurant-menu-item-description">
                a favourite dish of Emperor Shah Jahan created specially to woo his queen Mumtaz, he also built the Taj Mahal for her, a very rare curry with ling fish fillets, is Sharp with chillies, sweet with jaggery and sour with tamarind ‘n’ lemon juice, unique blend of hot, sweet &amp; sour.   </div>
            </div>
                    <div class="pp-restaurant-menu-item-right">
                <div class="pp-restaurant-menu-item-price"><span>$ </span> 19.90  </div>
            </div>
                </div>
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-4 pp-menu-item pp-menu-item-4">
            <div class="pp-restaurant-menu-item-left">
                <h2 class="pp-restaurant-menu-item-header">
                        <span class="pp-restaurant-menu-item-title">Goan Prawn Curry</span></h2>
                            <div class="pp-restaurant-menu-item-description">a hot prawn curry with whole chillies, turmeric and cinnamon spices</div>
            </div>
                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>$ </span> 19.90</div>
                    </div>
                </div>
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-5 pp-menu-item pp-menu-item-5">
            <div class="pp-restaurant-menu-item-left">
            <h2 class="pp-restaurant-menu-item-header">
                <span class="pp-restaurant-menu-item-title">Tawa Jhinga Masala</span></h2>
                <div class="pp-restaurant-menu-item-description">
                                gourmet delight prawn delicacy cooked in makhani gravy flavoured with fennel, ajwain and hand-pounded spices. </div>
                                            </div>
                    <div class="pp-restaurant-menu-item-right">
                      <div class="pp-restaurant-menu-item-price">
                                <span>$ </span> 19.90 </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- beer and whisky with dry fruits 
        1. starter: tandoori mix fruit
        2. sweet potates -->

</div>
    </section>