<section id="services">
<div class="container">

<div class="row">
            <div class="col-lg-12 text-center">  
<div class="row-img-SBS">
  <div class="column-img-SBS">
    <img class="elephant menu-center-img" src="img/elephants-left.gif" >
  </div>
  <div class="column-img-SBS">
    <img class="elephant menu-center-img" src="img/elephants-right.gif" >
  </div>
</div>
            <h3 class="section-subheading text-muted">Our Chef creates the divine combinations, you get a very unique dining experience and taste what everybody is raving about.</h3>
                    <h2 class="main-section-title font-smoothing">Starters</h2>
                   <img class="menu-center-img" src="img/starters.jpg" alt="Menu Logo">
                </div>
            </div>       

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Samosa</h2>
                    <h3 class="section-subheading text-muted">Patties stuffed with fresh potatoes, cottage cheese, green peas and freshly ground Indian spices, served with sauce.</h3>
                    <h3 class="section-subheading text-muted">4.00€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Vegetarian Shammi Kebab</h2>
                    <h3 class="section-subheading text-muted">Vegetarian shammi kabab is  crisp cutlet made from chef special spices a brown chickpeas.</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Paneer Pakora</h2>
                    <h3 class="section-subheading text-muted">Indian cottage cheese covered in a specially seasoned gram flour batter fried and served with sauce.</h3>
                    <h3 class="section-subheading text-muted">5.90€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Crispy Fried Vegetables</h2>
                    <h3 class="section-subheading text-muted">Crispy coated vegetables strips with oriental flavor, famous Indo-chineese starter.</h3>
                    <h3 class="section-subheading text-muted">4.90€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Shammi Kebab</h2>
                    <h3 class="section-subheading text-muted">Shammi kebab is an Awadhi dish which is made from flavorful spiced minced meat and are crisp and mouthwatering.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div> 

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Spring Rolls</h2>
                    <h3 class="section-subheading text-muted">Vegetable Spring Rolls, Chicken Spring roll and Shrimp Spring roll.</h3>
                    <h3 class="section-subheading text-muted">4.50€</h3>
                </div>
            </div>  

<!-- tandoor -->
<div class="row">
                <img class="menu-center-img" src="img/elephants.gif" alt="partition-menu">
                <div class="col-lg-12 text-center">
                    <h2 class="main-section-title font-smoothing">Tandoor/Grill</h2>
                    <img class="menu-center-img" src="img/lambChop.png" alt="Menu Logo">
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Bombay tandoori stuffed potatoes</h2>
                    <h3 class="section-subheading text-muted">Potatoes stuffed with cottage cheese, capsicum, mushrooms and vegetables, marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PANEER TIKKA</h2>
                    <h3 class="section-subheading text-muted">Indian cottage cheese marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MUSHROOM BABY CORNS TIKKA</h2>
                    <h3 class="section-subheading text-muted">Mushrooms and Baby corns marinated in a spiced mixture and roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div> 

<div class="row text-center">
        <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Tandoori Chicken Wings</h2>
                    <h3 class="section-subheading text-muted">Well-marinated chicken wings baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">5.90€</h3>
        </div>
</div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHICKEN TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken marinated in a chef special spiced mixture, roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div>
<div class="row text-center">
        <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHICKEN MALAI TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken roasted in a creamy marination grilled in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
        </div>
</div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled chicken in tandoori clay oven served with additive and fresh salad.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Tandoori Chicken Fillet</h2>
                    <h3 class="section-subheading text-muted">Chicken fillet with pineapple marinated in chef special spiced mixture, baked in a tandoori clay oven served salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>  

<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PORK ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled pork in tandoori clay oven served with additive and fresh salad.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Pork TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered pork marinated in a chef special spiced mixture, roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>            

<div class="slide-sep"></div>   
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Lamb ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled lamb in tandoori clay oven served with additive and fresh salad. </h3>
                    <h3 class="section-subheading text-muted">10.00€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">SALMON TIKKA</h2>
                    <h3 class="section-subheading text-muted">Salmon fillet lightly marinated in chef special spiced mixture, baked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">11.50€</h3>
                </div>
            </div>

<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">The Social Platter</h2>
                    <h3 class="section-subheading text-muted">The Social special tandoor platter includes chicken tikka, pork tikka, chicken malai tikka, lamb chop and paneer tikka served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">12.50€</h3>
                </div>
            </div>     

    <div class="slide-sep"></div> 
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">* Additives are chef special clay oven baked potatoes, fried potatoes and french fries.</h3>
                <h3 class="section-subheading text-muted">* Sauces type: Mint-Coriander, Garlic, Chef special.</h3>
            </div>
        </div>


<div class="row">
                <div class="slide-sep"></div>
                <div class="col-lg-12 text-center">
                    <h2 class="main-section-title font-smoothing">Salads</h2>
                    <h3 class="section-subheading text-muted">..</h3>
                    <img class="menu-center-img" src="img/salads.png" alt="Menu Logo">
                </div>
            </div>       

<div class="slide-sep"></div> 

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken Tikka Salad</h2>
                    <h3 class="section-subheading text-muted">Tandoori chicken mixed with cabbage, tomato, cucumber, redish and red onion.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div>             
    <h3 class="section-subheading text-muted">Full menu yet to come.... webpage under development</h3>

<!-- beer and whisky with dry fruits 
        1. starter: tandoori mix fruit
        2. sweet potates -->

</div>
    </section>