<section id="services">
        <div class="container">
            <div class="row">
                <div class="slide-sep"></div>
                <div class="col-lg-12 text-center">
                    <!--<h2 class="section-heading">Menu</h2> 
                    Unique Dining
In our bid to deliver authentic, undiluted experiences, we’ve introduced a unique regional home style dining experience. Always prepared with a local touch, the home-style cooking ensures that you maintain good health throughout your stay. And at the same time it gives you the opportunity to dabble in the local delicacies.-->
                    <h2 class="main-section-title font-smoothing">Tandoor/Grill</h2>
                                        <h3 class="section-subheading text-muted">Our Chef creates the divine combinations, you get a very unique dining experience and taste what everybody is raving about</h3>
                    <img class="menu-center-img" src="img/lambChop.png" alt="Menu Logo">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Tandoori Chicken Wings</h2>
                    <h3 class="section-subheading text-muted">Well-marinated chicken wings baked in a tandoori clay oven and served alongside with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">5.50€</h3>
                </div>
            </div>
<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center>
                    <h2 class="menu-header">CHICKEN MALAI TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken roasted in a creamy marination grilled in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">7.00€</h3>
                </div>
            </div>
<div class="slide-sep"></div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PORK ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled pork in tandoori clay oven served with additive and fresh salad.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>
        </div>
<div class="slide-sep"></div>   
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Lamb ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled lamb in tandoori clay oven served with additive and fresh salad </h3>
                    <h3 class="section-subheading text-muted">10.00€</h3>
                </div>
            </div>
        </div>
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">Chicken ŠAŠLÕKK</h2>
                    <h3 class="section-subheading text-muted">Grilled chicken in tandoori clay oven served with additive and fresh salad. </h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>
        </div>
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">CHICKEN TIKKA</h2>
                    <h3 class="section-subheading text-muted">Skewered chicken marinated in a traditional spicy mix and roasted in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.50€</h3>
                </div>
            </div>
        </div>
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">MUSHROOM BABY CORNS TIKKA</h2>
                    <h3 class="section-subheading text-muted">Mushrooms and Baby corns marinated in a spiced mix and roasted in a tandoori clay oven.</h3>
                    <h3 class="section-subheading text-muted">7.00€</h3>
                </div>
            </div>
        </div>
<div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">SALMON TIKKA</h2>
                    <h3 class="section-subheading text-muted">Salmon fillet lightly marinated in our chef special spiced mixture and cooked in a tandoori clay oven served with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">11.00€</h3>
                </div>
            </div>
        </div>
        <div class="slide-sep"></div> 
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="menu-header">PANEER TIKKA</h2>
                    <h3 class="section-subheading text-muted">Indian Cottage cheese marinated in our chef special spiced mixture and cooked in a tandoori clay ovenserved with salad and sauce.</h3>
                    <h3 class="section-subheading text-muted">8.00€</h3>
                </div>
            </div>
        </div>
        <div class="slide-sep"></div> 
        <div class="row text-center">
        <div class="col-lg-12 text-center">
            <h3 class="section-subheading text-muted">* Additives are fried potatoes, french fries and rice.</h3>
            <h3 class="section-subheading text-muted">* Sauces type: Mint-Coriander, Garlic, Chef special</h3>
</div>
        </div>
                    <!--<1. beer with complementary items kaju, pista, almonds> 
                        2. European : chicken fillet with pineapple & mango & mozrella with spinach :  day meal-->
    </section>