<section id="testPage">
<div class="container">

<div class="fl-page-content" itemprop="mainContentOfPage">
<div class="fl-content-full container">
    <div class="row">
        <div class="fl-content col-md-12">
            <article class="fl-post post-62 page type-page status-publish hentry" id="fl-post-62" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">STARTERS</h3>
    <img class="menu-center-img" src="img/starters.jpg" alt="Menu Logo">
    <div class="pp-restaurant-menu-item-wrap-in">

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                    <div class="pp-restaurant-menu-item-left">
                            <h2 class="pp-restaurant-menu-item-header">
                                    <span class="pp-restaurant-menu-item-title">Samosa</span></h2>
                                        <div class="pp-restaurant-menu-item-description">
                                samosa....</div></div>

                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>€ </span> 0.00 </div>
                    </div>
            </div>
            
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                        <span class="pp-restaurant-menu-item-title">VEGETARIAN SHAMMI KEBAB</span></h2>
                    <div class="pp-restaurant-menu-item-description">
                    Tender ...</div>
                </div>
                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price"><span>€ </span> 0.00 </div>
                </div>
            </div>
    </div>
</div>
    </div>
</div>
    </div>
        </div>
    </div>
</div>


    </div>


</div>
</article>
</div>
</div>
</div>
</div>
</section>