<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}          <!-- Header Title -->
    {% include orderFood.html %}   
	{% include paymentOnline.html %} 	   <!-- membership -->
	{% include coronaInfo.html %} 
    {% include dailyMeal.html %} 
    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Indian Corner</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <p>A PREMIUM INDIAN RESTAURANT by Social Restaurant Group </p>
                  <p>Located:Tartu maantee 87d near 'Sikupilli-Prisma'</p>
                  <button type="button" class="btn btn-primary">Indian Corner</button>
              </div>
          </div>
      </div>
  </div>
   <!-- menuItems.html --> 
    {% include catering.html %}  <!-- News -->
   <!--  quiz.html -->
    {% include about.html %}           <!-- Events (Social) -->
    {% include team.html %}
    {% include contact.html %}        <!-- Join Us -->  
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}  
    </body>
</html>

