<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}          <!-- Header Title -->
    {% include services.html %}        <!-- Menu -->
    {% include portfolio_grid.html %}  <!-- News -->
    {% include about.html %}           <!-- Events (Social) -->
    {% include team.html %}
    {% include contact.html %}        <!-- Join Us -->
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}    
    {% include testPage.html %}

    </body>
</html>